/*--BODY--*/
body {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-right: 40px;
  text-align: center;
}

/*--HEADER--*/
header {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 25rem;
}

header ul {
  display: flex;
  list-style: none;
}

li {
  margin: 10px;
}

/*--BANNIERRE--*/
.banniere-titre {
  background-image: url("backgroung_image.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#logo-banniere {
  width: 250px;
}

/*--MAIN--*/
main {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

main h2 {
  font-weight: normal;
}

.title-description {
  margin-top: 5rem;
  font-size: x-large;
}

#section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.graphisme {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.strategie {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.illustrations {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.commentaire {
  font-size: x-large;
}

.signature {
  font-size: large;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

/*--FOOTER--*/
.title-footer {
  color: white;
  display: flex;
  justify-content: center;
  font-size: small;
  margin-top: 2rem;
}

footer {
  background-color: #5b359d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.socialnetwork {
  color: gray;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.ending {
  color: white;
  display: flex;
  justify-content: space-around;
}
