/*--MAIN--*/
body {
  font-family: "Roboto", sans-serif;
}

/*--HEADER--*/
header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 10px;
}

/*--BANNIERRE--*/
.banniere-titre {
  background-image: url("backgroung_image.jpg");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-size: cover;
}

.banniere {
  position: relative;
}

.banniere img {
  max-width: 100%;
  position: relative;
  position: relative;
  object-fit: cover;
}

/*--MAIN--*/

main{
  margin-left: 20em;
  margin-right: 20em;
 }

.title-description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#section {
 display: flex;
 justify-content: space-around;
}

/*--FOOTER--*/
.title-footer{
  color: white;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(104, 58, 177);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialnetwork{
  color: grey;
font-size: 3em;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 18em ;
margin-right: 18em;
} 